<div class="todo-list-container">
    <ul class="todo-list">
        @for (todo of todoListService.getTodos(); track todo.id) {
            <app-todo-item [todo]="todo" @addAndRemoveTodoAnimation />
        } @empty {
            <li>There are no todos here. Create a todo using the form 👇</li>
        }
    </ul>

    <form
        class="add-todo-form"
        [formGroup]="newTodoForm"
        (ngSubmit)="handleNewTodoSubmit()"
    >
        <fieldset>
            <label for="new-todo-title">Todo Title:</label>
            <input
                type="text"
                id="new-todo-title"
                formControlName="todoTitle"
            />
        </fieldset>
        <fieldset>
            <label for="new-todo-description">Todo Description:</label>
            <textarea
                id="new-todo-description"
                formControlName="todoDescription"
            >
            </textarea>
        </fieldset>
        <button id="new-todo-submit" type="submit">Add Todo</button>
    </form>

    <app-dog-generator />
</div>
