<li class="todo-item-container">
    <div class="todo-item">
        <input type="checkbox" [formControl]="isChecked" />

        @if (isEditing) {
            <input
                #editInput
                type="text"
                [formControl]="title"
                (blur)="stopEditing()"
            />
        } @else {
            <h3
                class="todo-text"
                [class.completed]="todo.checked"
                (dblclick)="onTitleDoubleClick()"
            >
                {{ todo.title }}
            </h3>
        }
        <app-styled-button
            class="expand-button"
            [routerLink]="['/todo', todo.id]"
        >
            expand
        </app-styled-button>
    </div>

    <app-styled-button (click)="onDelete()" data-testid="delete-todo-button">
        delete
    </app-styled-button>
</li>
